<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{> main}}
    <div class="about-intro">
        <div class="about-header">lover of startups, comedy, and coffee</div>
        <div class="about-headshot"></div>
        <div class="about-des">
            Hey, I'm Aderemi Azeez! I'm a web developer and designer based in Lagos, Nigeria. I'm passionate about creating beautiful, user-friendly websites and applications that help businesses grow and thrive online. when i'm not coding, you can find me watching tech videos, listening to podcasts, or exploring new tools and technologies. Let's work together to bring your ideas to life!
        </div>
        <div class="about-des">i'm a Front-End Developer with a keen eye for design and user experience. i specialize in building responsive, visually appealing, and high-performance web applications using HTML, CSS, Javascript, and modern frameworks like React.js.</div>
         <div class="about-des">Beyond coding, i am constantly exploring new technologies and best practices to stay ahead in the ever-evolving web development industry. I am open to collaboration, freelancing, and opportunities that challenge my creativity and technical skils.</div>
         <div class="about-whatido">what i do</div>
         <div class="about-what">Web Development (Javascript, React, Java)</div>
         <div class="about-what">Digital Design & Motion Graphics</div>
         <div class="about-what">User Experience Design</div>
         <div class="about-what">Graphic Design & Branding</div>
    </div>
    <div class="about-next">
        <div class="about-ready">ready to see what's next</div>
        <a class="about-chat" href="/contact">let's chat</a> 
    </div>
    {{> footer}}
</body>
</html>