<!DOCTYPE html>
<html lang="en">
  {{> main}} 
<body>
  <div class="home">
    <div class="home-case">
      <div class="home-box">
        <div class="typewriter">
          <h1>Hey, I'm Aderemi! I'm a</h1>
        </div>
        <div class="typewriter-1">
          <h1>Front-End Developer, </h1>
        </div>
        <div class="typewriter-2">
          <h1>living in Lagos, Nigeria</h1>
        </div>
        
        
      </div>
      <a class="home-button" href="/work">Recent Work</a>
      <a class="home-button" href="/contact">Let's chat</a>
    </div>
  </div>
  {{> footer}}
  </body>
</html>