<div class="footer">
    <div class="grey-link">
        <div class="pages">Pages</div>
        <a href="/work">Work</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
       <div class="linkedin-logo"><a href="https//www.linkedin.com/Azeez Aderemi" >
       <i id="linkedin" class="fab fa-linkedin-in"></i>
        </a></div>
        <p> &copy; Aderemi. All Right Reserved.</p>
    </div>
    
</div>