<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="navbar">
        <a class="name" href="/"> ADEREMI AZEEZ</a>
        <i id="bars" class="fas fa-bars" onclick="openMenu()"></i>

    </div>
    <div id="menu-overlay"> </div>
    <div id="menu-slide" class="menu-slide">
        <a href="javascript:void(0)" class="menu-x" onclick="closeMenu()">&times;</a>
        <a href="/work">work</a>
        <a href="/about">about</a>
        <a href="/contact">contact</a>
    </div>
    
</body>
</html>
<script>
     function openMenu() {
       var  divMenuSlide = document.getElementById("menu-slide");
       divMenuSlide.style.width = "300px";
       document.getElementById("menu-overlay").style.width = "100%";
     }
     function closeMenu() {
        document.getElementById("menu-slide").style.width = "0";
        document.getElementById("menu-overlay").style.width = "0";
     }
     
</script>